/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');


body {
    background-color: #F2F4FC;
    margin:0px;
    padding:0px;
    
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    margin-top:70px;
    /* position: absolute; */
     /* display:flex;
    flex-direction: row;
    align-items: flex-end;    */
    /* width: 100%; */
    /* width: auto;
    width: 100%; */
    /* width: 1440px; */
    height: 122px;
    /* left: calc(50% - 1440px/2);  */

    top: 0px;
     border: 5px solid fuchsia; 
    
    /* display:flex;
    flex-direction: row;
    align-items: center; 
    width: 1440px;
    height: 122px;
    margin-left: calc(50% - 1440px/2);
    margin-top: 0px;
    background-color: lightsalmon; */

}
.mini-head{
    /* position: absolute; */
    /* width: 1099.36px;
    width: 100%;
    height: 52px; */
    /* left: 170.64px; */
    /* top: 70px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 3px solid saddlebrown;

    max-width: 1100px;
    width: 1100px;
  
    margin-top: 0px;
    margin-bottom: 0px;
 

  
    
 
}
    


.btn-blue{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 1px;
    
    /* position: absolute; */
    width: 150px;
    height: 52px;
    /* left: 1120px;
    top: 70px; */
    
    /* Primary/Default */
    background: #072AC8;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0px;
        
        /* position: absolute; */
        width: 295px;
        height: 22px;
        /* left: 544px;
        top: 85px; */
        /* border: 4px solid sandybrown */
        }
        
        nav a{
            /* Font-Format */
            font-family: 'Roboto', sans-serif;
            color: #6B708D;
            text-decoration:none;
        }
        a:hover{
            color:#072AC8;
        }


/* @media (max-width: 1300px){
    .mini-head{
        width: 100%;
        left:0;
        
    }
    } */
header img{
    /* position: absolute; */
    width: 60.53px;
    height: 18.46px;
    /* left: 170.64px; */
    /* bottom: 55px; */
    /* top: 86.91px;  */
}





.hero{
    position: absolute;
    width: 1440px;
    height: 650px;
    left: calc(50% - 1440px/2);
    top: 226px;
    /* border: 3px solid rgb(231, 35, 35); */
}

.container{
    position: absolute;
    width: 1100px;
    height: 650px;
    left: 170px;
    top: 0px;
    /* border: 5px solid orange; */
    }

.content{
    position: absolute;
    width: 530px;
    height: 422px;
    /* left: 170px; */
    /* left:calc(calc(50% - 1440px/2)*170px); */
    top: 109px;
    /* border: 2px solid blue; */
    
}
.image{
  /* Image */
  position: absolute;
  width: 570px;
  height: 650px;
  /* left: 700px; */
  left:530px;
  top: 0px;
  /* border: 4px solid green; */
  background-image: url("images-icons/hero-section/hero-image.png");
  
  /* background-color: green; */
  background-size: cover;  
  position: 0 0;
  background-repeat: no-repeat;



  /* transform: matrix(-1, -0.02, -0.02, 1, 0, 0); */
}

h1{
/* Web/Headline/Medium */
font-family: 'Roboto', sans-serif;
font-size: 60px;
line-height: 130%;
font-weight: bold;
line-height: 70px;
/* identical to box height, or 22px */
position: absolute;
width: 530px;
height: 210px;
left: 0px;
/* top: 109px;*/
top: 0px; 
/* Neutral/Dark */
color: #292E47;
/* porque?*/
margin:0px; 
}

#btn-hero{
position: absolute;
width: 150px;
height: 52px;
/* left: 170px; */
left: 0px;
/* top: 479px; */
top: 370px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 15px 37px; */
}

.btn-blue p{
    position: static;
    width: 100px;
    /* background-color: khaki; */
    height: 22px;
    
    /* Web/Headline/Medium */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    
    text-align: center;
    color: #FFFFFF;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    }

/*FONTS*/
.p-hdlTxt17Med {
    /* Headline/Medium */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    /* Neutral/Medium */
    color: #6B708D;
}

.font-head_H3_40bold{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
     /* Neutral/Dark */
    color: #292E47;
}

.font-BodyIntoTxt20Reg{
    /* Body/Regular */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    /* Neutral/Medium */
    color: #6B708D;
}

.font-BodyIntoTxt24Mid{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* Neutral/Dark */
color: #292E47;
}

.font-HdlTxt17Reg{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 150%;
/* identical to box height, or 26px */


color: #514D67;
}

#content_p1 {
    position: absolute;
    width: 435px;
    height: 90px;
    left: 0px;
    /* top: 349px; */
    top: 240px;
}

#content_p2 {
    position: absolute;
    width: 100px;
    height: 22px;
    left: 190px;
    top: 370px;
    border: 5px dotted rgb(197, 5, 5);
}

#img-card-1{
    position: absolute;
    width: 190px;
    height: 216px;
    /* left: 700px; */
    left: 0;
    top: 25px;
    border: 5px dotted rgb(197, 5, 5);
}

#img-card-2{
    position: absolute;
    width: 190px;
    height: 193px;
    /* left: 1080px; */
    left:380px;
    top: 457px;
    border: 5px dotted rgb(197, 5, 5);
}

.client{
    position: absolute;
    width: 1440px;
    height: 96px;
    left: calc(50% - 1440px/2 + 4px);
    top: 1000px;
    /* border: 3px solid gray; */
}
.sub-clients{
    position: absolute;
    width: 1100px;
    height: 96px;
    left: 170px;
    top: 0px;
    /* border: 2px solid gray; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.sub-clients img{
    filter:grayscale();
}
.projects{
position: absolute;
width: 1440px;
height: 561px;
left: calc(50% - 1440px/2);
top: 1298px;
    /* border: 3px solid black; */
}

.ThreeColumnsSection{
position: absolute;
width: 1440px;
height: 561px;
    /* border: 3px solid black; */
}

.ThreeColumnsSection-container{
position: absolute;
width: 1100px;
height: 561px;
left: 170px;
top: 0px;
}

.ThreeColumnsSection-container-items{
    position: absolute;
    width: 1100px;
    height: 380px;
    left: 0px;
    top: 117px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 5px solid gray; */
      

}

.ThreeColumnsSection-container-items-item{
    /* position: absolute; */
width: 340px;
height: 380px;
/* left: 930px;
top: 117px; */
/* border: 2px solid salmon; */
background: #FFFFFF;
box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

.ThreeColumnsSection-container-items-item-text{
    display:flex;
    flex-direction: column;
    border: 5px dotted rgb(197, 5, 5);
    height: 260px;
    width: 340px;
  
    flex:auto;
    padding: 30px;
    box-sizing: border-box;
    
}


#section-services{
position: absolute;
left: calc(50% - 1440px/2);
top: 2881px;
}

#section-projects{
    position: absolute;
    left: calc(50% - 1440px/2);
    top: 1298px;
}

.service-item-logo{
    
    /* border: 2px thick red; */

/* position: absolute; */
width: 80px;
height: 80px;
margin: 40px 230px 0px 30px;
background: #ECF7FF;
border-radius: 49.6px;
}

#section-services .ThreeColumnsSection-container-items-item img{
   
    /* position: absolute; */
    width: 40px;
    height: 40px;
    margin:20px;

}

.projects-container{
position: absolute;
width: 1100px;
height: 561px;
left: 170px;
top: 0px;

}

.project-item{
/* position: absolute; */
width: 340px;
height: 444px;
/* left: 930px;
top: 117px; */
/* border: 2px solid salmon; */
background: #FFFFFF;
box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

.projects-container-itens{
    position: absolute;
width: 1100px;
height: 444px;
left: 0px;
top: 117px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 5px solid gray; */
   
}


.projects-container-itens img{
    max-width: 340px;
    max-height: 240px;
    width: 540px;
    height: 240px;
    /* border: 2px thick red; */
}

.project-item-text{
    
    border: 5px dotted rgb(197, 5, 5);
    height: 194px;
    width: 330px;
    /* max-height: 194px;
    max-width: 330px; */
    padding: 30px;
    box-sizing:border-box;
}

.project-item-text-tittle{
    height: 34px;
    width: 270px;
    /* border: 3px solid black; */
    
}

.project-item-text-desc{
    height: 80px;
    width: 270px;
    /* border: 3px solid red; */
    /* white-space: nowrap; */
    /* overflow: hidden !important; */
    /* text-overflow:clip;
    max-width: 300px;
    max-height: 140px; */
}


.project-item-text a{
    text-decoration:none;
    color:#072AC8;
    margin-top:20px;
}

.service-item-text-tittle{
    height: 34px;
    width: 270px;
    /* border: 3px solid black; */
    
}

.service-item-text-desc{
    height: 120px;
    width: 270px;
    /* border: 3px solid red; */
    /* white-space: nowrap; */
    /* overflow: hidden !important; */
    /* text-overflow:clip;
    max-width: 300px;
    max-height: 140px; */
}

.service-item-text a{
    text-decoration:none;
    color:#072AC8;
    margin-top:20px;
}

.projects h3{
position: absolute;
width: 285px;
height: 47px;
left: 0px;
top: 0px;
margin-top: 0;
}

.testimonial{
position: absolute;
width: 1320px;
height: 622px;
left: calc(50% - 1320px/2);
top: 2059px;
background-color: #292E47;

}
.services{
 position: absolute;
width: 1440px;
height: 561px;
left: calc(50% - 1440px/2);
top: 2881px;

}
.cta{
/* CTA Section */

position: absolute;
width: 1320px;
height: 500px;
left: calc(50% - 1320px/2);
top: 3578px;
background-color: #FFC600;

}

.cta-container h3{
    margin-top: 0;
}
.cta-container{
    width: 1100px;
    height: 227px;
    margin: 136px 110px 137px 110px;
    border: 3px solid gray;
    text-align: center;
    /* display: flex;
    flex-direction: column; */
  
}

#btn_subscribe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 37px;
    
    /* position: absolute; */
    width: 198px;
    height: 80px;
    /* left: 658px;
    top: 147px; */
    
    /* Primary/Default */
    
    background: #072AC8;
    box-sizing: border-box;
    margin:0px;
    }

.btn-blue2{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 1px;
    
    /* position: absolute; */
  
    /* left: 1120px;
    top: 70px; */
    
    /* Primary/Default */
    background: #072AC8;
    }

#cta_form{
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid green;    
    
}

#input_letter{
display:flex;
flex-direction: row;
width: 393px;
height: 80px;
background-color: #FFF;


}

#letter-icon{
    /* position: absolute; */
width: 30px;
height: 30px;
/* left: 275px;
top: 172px; */
align-self: center;

}

#input_email{
/* position: absolute; */
width: 363px;
height: 80px;

/* left: 245px;
top: 147px; */
box-sizing: border-box;
margin:0px;
border: 2px solid black;
    
}


.footer{
position: absolute;
width: 1440px;
height: 242px;
left: calc(50% - 1440px/2);
border: 2px solid gray;
top: calc(3578px + 500px + 170px);

}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: absolute;
    width: 1100px;
    height: 112px;
    left: 170px;
    top: 30px;
    border: 2px solid red;
    
}
.footer img{
    width: 98.38px;
height: 30px;
}

#footer-logo-left{
    display: flex;
    flex-direction: column;
    width: 280px;
height: 108px;
/* left: 170px;
top: 30px; */
border: 3px solid gray;


}

.footer-logo-left p{
border: 2px solid #292E47;
margin:0px;
align-self:end;
display:flex;
}

#footer-links{
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
width: 435px;
height: 112px;

}

.footer-links-divs-pair{
    display: flex;
    flex-direction: column  ;
    border: 2px solid purple;
    align-content:flex-end;

    display: flex;
  flex-wrap: wrap;
   align-content: space-between;
}

.footer-links-divs-pair p{
      margin: 0px;
      align-self: flex-end;
}

.testimonial-container{
    position: absolute;
    width: 1185px;
    height: 498px;
    left: 63px;
    top: 51px;
    border: 2px solid white;
}

