/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
    background-color: #F2F4FC;
    margin:0px;
}
header{
    position: absolute;
     /* display:flex;
    flex-direction: row;
    align-items: flex-end;    */
    width: 1440px;
    height: 122px;
    left: calc(50% - 1440px/2);
    top: 0px;
     /* border: 5px solid fuchsia;  */
    
    /* display:flex;
    flex-direction: row;
    align-items: center; 
    width: 1440px;
    height: 122px;
    margin-left: calc(50% - 1440px/2);
    margin-top: 0px;
    background-color: lightsalmon; */
}
.mini-head{
    position: absolute;
    width: 1099.36px;
    height: 52px;
    left: 170.64px;
    top: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 3px solid saddlebrown;  */
}

header img{
    /* position: absolute; */
    width: 60.53px;
    height: 18.46px;
    /* left: 170.64px; */
    /* bottom: 55px; */
    /* top: 86.91px;  */
}

nav{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px;

/* position: absolute; */
width: 295px;
height: 22px;
/* left: 544px;
top: 85px; */
/* border: 4px solid sandybrown */
}

nav a{
    /* Font-Format */
    font-family: 'Roboto', sans-serif;
    color: #6B708D;
    text-decoration:none;
}
a:hover{
    color:#072AC8;
}

.btn-blue{
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1px 1px;

/* position: absolute; */
width: 150px;
height: 52px;
/* left: 1120px;
top: 70px; */

/* Primary/Default */
background: #072AC8;
}

.hero{
    position: absolute;
    width: 1440px;
    height: 650px;
    left: calc(50% - 1440px/2);
    top: 226px;
    /* border: 3px solid rgb(231, 35, 35); */
}

.container{
    position: absolute;
    width: 1100px;
    height: 650px;
    left: 170px;
    top: 0px;
    /* border: 5px solid orange; */
    }

.content{
    position: absolute;
    width: 530px;
    height: 422px;
    /* left: 170px; */
    /* left:calc(calc(50% - 1440px/2)*170px); */
    top: 109px;
    /* border: 2px solid blue; */
    
}
.image{
  /* Image */
  position: absolute;
  width: 570px;
  height: 650px;
  /* left: 700px; */
  left:530px;
  top: 0px;
  /* border: 4px solid green; */
  background-image: url("images-icons/hero-section/hero-image.png");
  
  /* background-color: green; */
  background-size: cover;  
  position: 0 0;
  background-repeat: no-repeat;



  /* transform: matrix(-1, -0.02, -0.02, 1, 0, 0); */
}

h1{
/* Web/Headline/Medium */
font-family: 'Roboto', sans-serif;
font-size: 60px;
line-height: 130%;
font-weight: bold;
line-height: 70px;
/* identical to box height, or 22px */
position: absolute;
width: 530px;
height: 210px;
left: 0px;
/* top: 109px;*/
top: 0px; 
/* Neutral/Dark */
color: #292E47;
/* porque?*/
margin:0px; 
}

#btn-hero{
position: absolute;
width: 150px;
height: 52px;
/* left: 170px; */
left: 0px;
/* top: 479px; */
top: 370px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 15px 37px; */
}

.btn-blue p{
    position: static;
    width: 100px;
    /* background-color: khaki; */
    height: 22px;
    
    /* Web/Headline/Medium */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    
    text-align: center;
    color: #FFFFFF;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    }

/*FONTS*/
.p-hdlTxt17Med {
    /* Headline/Medium */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    /* Neutral/Medium */
    color: #6B708D;
}

.font-head_H3_40bold{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
     /* Neutral/Dark */
    color: #292E47;
}

.font-BodyIntoTxt20Reg{
    /* Body/Regular */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    /* Neutral/Medium */
    color: #6B708D;
}

.font-BodyIntoTxt24Mid{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* Neutral/Dark */
color: #292E47;
}

.font-HdlTxt17Reg{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 150%;
/* identical to box height, or 26px */


color: #514D67;
}

#content_p1 {
    position: absolute;
    width: 435px;
    height: 90px;
    left: 0px;
    /* top: 349px; */
    top: 240px;
}

#content_p2 {
    position: absolute;
    width: 100px;
    height: 22px;
    left: 190px;
    top: 370px;
    border: 5px dotted rgb(197, 5, 5);
}

#img-card-1{
    position: absolute;
    width: 190px;
    height: 216px;
    /* left: 700px; */
    left: 0;
    top: 25px;
    border: 5px dotted rgb(197, 5, 5);
}

#img-card-2{
    position: absolute;
    width: 190px;
    height: 193px;
    /* left: 1080px; */
    left:380px;
    top: 457px;
    border: 5px dotted rgb(197, 5, 5);
}

.client{
    position: absolute;
    width: 1440px;
    height: 96px;
    left: calc(50% - 1440px/2 + 4px);
    top: 1000px;
    /* border: 3px solid gray; */
}
.sub-clients{
    position: absolute;
    width: 1100px;
    height: 96px;
    left: 170px;
    top: 0px;
    /* border: 2px solid gray; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.sub-clients img{
    filter:grayscale();
}
.projects{
    position: absolute;
width: 1440px;
height: 561px;
left: calc(50% - 1440px/2);
top: 1298px;
    /* border: 3px solid black; */
}

.projects-container{
position: absolute;
width: 1100px;
height: 561px;
left: 170px;
top: 0px;

}

.project-item{
/* position: absolute; */
width: 340px;
height: 444px;
/* left: 930px;
top: 117px; */
/* border: 2px solid salmon; */
background: #FFFFFF;
box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

.projects-container-itens{
    position: absolute;
width: 1100px;
height: 444px;
left: 0px;
top: 117px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 5px solid gray; */
   
}

.projects-container-itens img{
    max-width: 340px;
    max-height: 240px;
    width: 540px;
    height: 240px;
    /* border: 2px thick red; */
}

.project-item-text{
    display:flex;
    flex-direction: column;
    border: 5px dotted rgb(197, 5, 5);
    height: 194px;
    width: 330px;
    max-height: 194px;
    max-width: 330px;
    flex:auto;

}

.project-item-text a{
    text-decoration:none;
    color:#072AC8;
    margin-bottom: 0;
    margin-top:10px;
}

.projects h3{
position: absolute;
width: 285px;
height: 47px;
left: 0px;
top: 0px;
margin-top: 0;
}

.testimonial{
position: absolute;
width: 1320px;
height: 622px;
left: calc(50% - 1320px/2);
top: 2059px;
background-color: #292E47;

}
.services{
 position: absolute;
width: 1440px;
height: 561px;
left: calc(50% - 1440px/2);
top: 2881px;

}
.cta{
    position: absolute;
    width: 1320px;
    height: 500px;
    left: calc(50% - 1320px/2);
    top: 3578px;
    border: 2px solid gray;
}
.footer{
/* position: absolute;
width: 1440px;
height: 242px;
left: calc(50% - 1440px/2);
border: 2px solid gray;
bottom: 100px; */

}
